<!DOCTYPE html>
<html lang=”pt-br”>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>TADS refactor</title>

        <link href="../css/bootstrap.css" rel="stylesheet">

        <link href="../css/base.css" rel="stylesheet">

        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                                                <li>
                            <a href="http://localhost:8080/tcc/controlador/mau_cheiro_controlador.php?acao=lista">Maus Cheiros</a>
                        </li>
                        <li>
                            <a href="http://localhost:8080/tcc/controlador/banco_controlador.php?acao=lista">Bancos</a>
                        </li>
                        <li>
                            <a href="http://localhost:8080/tcc/controlador/usuario_controlador.php?acao=novo">Cadastro</a>
                        </li>
                        <!-- BEGIN BLOCO_LOGADO -->
                        <li>
                            <p class="c-branco logout">Olá {USUARIO_LOGADO}
                                <a href="{LINK_LOGOUT}">
                                  <span class="glyphicon glyphicon-log-out c-branco"></span>
                                </a>
                            </p>
                        </li>
                        <!-- END BLOCO_LOGADO -->
                        <li>
                            <a href="http://localhost:8080/tcc/controlador/usuario_controlador.php?acao=login">Entrar</a>
                        </li>

                        <!-- FINALLY BLOCO_LOGADO -->
                    </ul>
                </div>   
            </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Lista</h1>
            </div>
        </div>
        <div class="row">
            <div class="{RESULTADO_CLASSE}">
                <strong>{RESULTADO}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{LINK_ADICIONAR}" class="fa fa-plus-square fa-2x" role="button"></a>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Classe</th>
                            <th>Descrição</th>
                            <th>Tipo</th>
                            <th>Editar</th>
                            <th>Apagar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- BEGIN BLOCO_MAUS_CHEIROS -->
                        <tr>
                            <td>{CLASSE}</td>
                            <td>{DESCRICAO}</td>
                            <td>{TIPO}</td>
                            <td><a href="{LINK_EDITAR}" class="fa fa-pencil-square-o fa-2x" role="button"></a></td>
                            <td><a href="{LINK_DELETAR}" class="fa fa-times fa-2x" aria-hidden="true" onclick="return confirm('O banco será excluido permanentemente')" role="button"></a></td>
                        </tr>
                        <!-- END BLOCO_MAUS_CHEIROS -->
                    </tbody>
                </table>
            </div>

        </div>
        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TADS FURG/IFRS 2016</p>
                </div>
            </div>
        </footer>

    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>